@tailwind base;
@tailwind components;
@tailwind utilities;

footer li {
    padding: 10px 0 !important;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

footer i {
    font-size: 25px;
}

.slick-prev::after {
    border-inline-width: 4px 0 !important;
    border-block-width: 4px 0 !important;
    border-color: black !important;
    top: 5px !important;
}

.slick-next::after {
    border-inline-width: 4px 0 !important;
    border-block-width: 4px 0 !important;
    border-color: black !important;
    top: 5px !important;

}

.slick-list {
    margin: 0 30px !important;
}

#like .ant-rate-star:not(.ant-rate-star-selected) {
    color: red; 
}

